{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react"],
  "rules": {
      "jsx-a11y/href-no-hash": "off",
      "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to", "hrefLeft", "hrefRight" ],
            "aspects": [ "noHref", "invalidHref", "preferButton" ]
          }],
      "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
      "react/prefer-stateless-function": 0,
      "comma-dangle": ["error", "never"],
      "react/forbid-prop-types": [0],
      "linebreak-style": ["error", "unix"],
      "react/button-has-type": [0],
      "arrow-parens": ["error", "as-needed"],
      "camelcase": ["error", { "properties": "never", "ignoreDestructuring": true }],
      "implicit-arrow-linebreak": [0]
    }
}
